<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Project's Summary</title>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
</head>
<body>

    <nav>
        <ul class="menuItems">
            <li><a href='/' data-item='Home'>Home</a></li>
            <li><a href='/project' data-item='Project'>Projects</a></li>
            <li><a href='https://notfun.my.id' data-item='About'>About Me</a></li>
            <li><a href='https://github.com/NaipanAbdinegara-git' data-item='Github'>Github</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Built with ❤️ by Naipan | 
           <a href="https://grohit.com/" target="_blank">Original Idea</a>
        </p>
    </footer>

</body>
</html>